<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- //允许网页宽度自动调整 -->
		<!-- //https://www.cnblogs.com/MissZhao/p/5773091.html -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>BoyG-用户管理</title>
		<!-- // jquery -->
		<script src="../../../res/js/jquery-3.3.1.min.js" type="text/javascript"></script>
		<!-- // axios 请求接口 -->
		<script src="../../../res/axios-0.19.0/axios.min.js"  type="text/javascript"></script>
		<!-- // vue库 -->
		<script src="../../../res/vue-2.6.7/vue.min.js" type="text/javascript"></script>
		<!-- // layer 弹出层 -->
		<!-- // http://layer.layui.com/ -->
		<script src="../../../res/layer-v3.1.1/layer.js"></script>
		<link href="../../../res/layer-v3.1.1/theme/default/layer.css" rel="stylesheet">
		<!-- 下拉菜单 -->
		<script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.js"></script>
		<!-- bootstrap -->
		<link rel="stylesheet" href="../../../res/bootstrap-4.0.0/css/bootstrap.min.css">
		<script src="../../../res/bootstrap-4.0.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="./css/background-2.css">
		<script src="../../../w/common/globalVar.js"></script>
		<script src="../../../w/common/globalSubWin.js"></script>


		<!-- 自有资源 -->
		<link rel="stylesheet" href="../../../res/bootstrap-table-master/dist/bootstrap-table.min.css">
		<script src="../../../res/bootstrap-table-master/dist/bootstrap-table.min.js"></script>
		<script src="../../../res/bootstrap-table-master/dist/locale/bootstrap-table-zh-CN.min.js"></script>
		<!-- awesome图标 -->
		<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">

	</head>
	<body>
		<div class="container">
			<div class="wrapper">
				<div id="accordion">
					<div class="card">
						<div class="card-header" id="headingOne">
						  <h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								添加用户
							</button>
						  </h5>
						</div>
						<div id="collapseOne" class="collapse card-body" aria-labelledby="headingOne" data-parent="#accordion">
							<form >
								<div class="form-group row">
									<input type="number" placeholder="手机号" class="form-control" id="" v-model="row.phone" value="2" maxlength="11" >
								</div>
								<div class="form-group row">
										<input type="text" placeholder="密码" class="form-control" id="" v-model="row.pw" maxlength="32">
								</div>
								<div class="form-group row">
									<button type="button" class=" btn btn-primary btn-lg btn-block" v-on:click="submit()">提交</button>						
								</div>
								
							</form>
						</div>
					</div>
				</div>
				
				
						<table id="msgTable" 
							data-toggle="table" 
							data-thead-classes="thead-light" 
					data-ajax="ajaxRequest"
							data-mobile-responsive="true"
							data-toolbar="#msgToolbar"
							data-show-refresh="true"
							data-show-toggle="true"
							data-show-fullscreen="true"
							data-search="true"
							data-query-params="queryParams"
							
							data-pagination="true"
						>
							<thead>
								<tr>
									<th data-field="uid">uid</th>
									<th data-field="name">登陆名</th>
									<th data-field="pw" >密码</th>
									<!-- 这个返回个人信息是否添写，动态数，更新时间，活动数，更新时间 -->
									<th data-field="info" data-formatter="infoFormatter" data-events="optEvent">个人信息</th>
									<th data-field="opt" data-formatter="optFormatter" data-events="optEvent">操作</th>
								</tr>
							</thead>
						</table>

			</div>
		</div>

	</body>
<script type="text/javascript">
var localToken = getLocalToken();
function userAdd(row){
	gAxios.post('api/admin/userAdd.php', row)
	.then(function (response) {
		if(response.status==200){
			//解析结果
			res=response.data;
			layerMsg(res.msg, res.code);
		}else{
			layerMsg(response.statusText, 2);
		}
	})
	.catch(function (error) {
		console.log(error);
	});
}

	//提交表单
	const userManagement=new Vue({
		el:"#accordion",
		data:{
			row:{
				token:localToken,
				phone:"",
				pw:""
			},
		},
		methods:{
			submit(){
				userAdd(this.row);
			},
		}
	});


	function userDel(row){
		gAxios.post('api/personalInfo/cancel.php', {
			token:localToken,
			uid:row.uid,
		})
		.then(function (response) {
			if(response.status==200){
				res=response.data;
				//解析结果
				if(res.code==0){
					// 在页面删除
					$("#msgTable").bootstrapTable('remove', {
						field: 'id',
						values: [row.id]
					});
				}
				layerMsg(res.msg, res.code);
				
			}else{
				layerMsg(response.statusText, 2);				
			}
		})
		.catch(function (error) {
			console.log(error);
		});

	}
	
	function queryParams(params){
		//添加新参数,这里直接自定义,不使用控件预定义,太麻烦了,没有使用用例
		params['token']=localToken;
		return params
	}
	
	var  optEvent={
		// event：jQuery事件。
		// value：字段值。
		// row：行记录数据。
		// index：行索引

		'click .remove': function (e, value, row, index) {
			// 在服务端删除
			userDel(row);
			
		},
		'click .edit': function (e, value, row, index) {
			request_url = '../../../w/PersonalInfo/set.html?uid='+row.uid;
			openSubWin(request_url, row.name, true);
		},
		'click .photo': function (e, value, row, index) {
			request_url = '../../../w/PersonalInfo/photoAlbum.html?uid='+row.uid;
			openSubWin(request_url, row.name, true);
		},
		'click .eye': function (e, value, row, index) {
			// request_url = '../../../w/PersonalInfo/view.html?fid='+row.uid;
			// openSubWin(request_url, row.name, true);
		},		
	}
	
	function optFormatter(value, row, index, field){
		// value：字段值。
		// row：行记录数据 字典。
		// index：行索引。
		// field：行字段name。
		// 			console.log(value);
		// 			console.log(row);
		// 			console.log(index);
		// 			console.log(field);
		return [
			'<a class="remove mr-2" href="javascript:void(0)" title="删除">',
			'	<i class="fa fa-trash-o"></i>',
			'</a>'
		  
		].join('')
	}
	
	function infoFormatter(value, row, index, field){
		request_url = '../../../w/PersonalInfo/view.html?fid='+row.uid;
		return [
		  '<a class="edit mr-2" href="javascript:void(0)" title="编辑个人信息">',
		  '	<i class="fa fa-edit"></i>',
		  '</a>',
		  '<a class="photo mr-2" href="javascript:void(0)" title="编辑相册">',
		  '	<i class="fa fa-image"></i>',
		  '</a>',
			'<a class="eye mr-2" href="'+request_url+'" target="_black" title="个人信息预览">',
		  '	<i class="fa fa-eye"></i>',
		  '</a>',
		].join('')
	}
function ajaxRequest(params) {
	gAxios.post('api/admin/userGet.php', params.data)
	.then(function (response) {
		if(response.status==200){
			res=response.data;
			//解析结果
			params.success({
			  rows: res.data
			});
			layerMsg(res.msg, res.code);

		}else{
			layerMsg(response.statusText, 2);
		}
	})
	.catch(function (error) {
		console.log(error);
	});

}
</script>

</html>
