
.placeholder-20{
	height: 20px;
}
.placeholder-10{
	height: 10px;
}

/* 配置组//间隔设置 */
.group-item{
	/* padding-top:10px; */
}

.card__span_left{
		padding-top: 10px;
		padding-left: 10px;
}

.card__span_right{
	float:right;
	cursor:pointer;
}


.msg-text-backcolor-left {
	background-color: #E8E8E8;
}
.msg-text-backcolor-right {
	background-color: #99CC66;
}
.msg-time-backcolor {
	color: #C8C8C8;
}