<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>BoyG-注销账号</title>
	<!-- // jquery -->
	<script src="../../res/js/jquery-3.3.1.min.js" type="text/javascript"></script>
	<!-- // axios 请求接口 -->
	<script src="../../res/axios-0.19.0/axios.min.js"  type="text/javascript"></script>
	<!-- // vue库 -->
	<script src="../../res/vue-2.6.7/vue.min.js" type="text/javascript"></script>
	<!-- // layer 弹出层 -->
	<!-- // http://layer.layui.com/ -->
	<script src="../../res/layer-v3.1.1/layer.js"></script>
	<link href="../../res/layer-v3.1.1/theme/default/layer.css" rel="stylesheet">
	<!-- bootstrap -->
	<link rel="stylesheet" href="../../res/bootstrap-4.0.0/css/bootstrap.min.css">
	<script src="../../res/bootstrap-4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../common/background-1.css">
	<script src="../common/globalVar.js"></script>

	</head>
	<body>
		<div class="container">
		    <div class="wrapper">
		
				<div class="row card">
					<form>
						<div style="height: 10px;"></div>
						<div class="input-group col-sm">
<!-- 							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroup-sizing-sm">邮箱</span>
							</div> -->
							<input type="email" class="form-control" aria-label="邮箱" aria-describedby="inputGroup-sizing-sm" 
							placeholder="邮箱" required="required" readonly="readonly" v-model="cancelForm.email">
						</div>
						<div style="height: 10px;"></div>
						<div class="input-group col-sm">
<!-- 							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroup-sizing-sm">验证码</span>
							</div> -->
							<input type="number" class="form-control" aria-label="验证码" aria-describedby="inputGroup-sizing-sm" 
							placeholder="验证码" required="required" v-model="cancelForm.checkCode">
							<div class="input-group-append">
								<button type="button" class="btn btn-link col-sm-4 col-4" v-on:click="getCheckCodeEmail()" >获取验证码</button>
							</div>
						</div>
						<div style="height: 10px;"></div>
						
						<button type="button" class="btn btn-primary btn-lg btn-block" v-on:click="cancel()">发送</button>
					</form>
				</div>
			</div>
		</div>	
	</body>
	
	<script>
		var localToken = getLocalToken();
		
		const form = new Vue({
			el:"form",
			data:{
				cancelForm:{
					token:localToken,
					email:"",
					checkCode:""
				}
			},
			created:function(){
				// 获取邮箱信息,为空时提示未绑定
				this.getEmail();
			},
			mounted:function(){
				
			},
			methods:{
				getEmail:function(){
					//发送请求
					var _vueThis = this;
					gAxios.post('api/personalInfo/emailGet.php', {
						token:localToken
					})
					.then(function (response) {
						if(response.status==200){
							res=response.data;
							//解析结果
							if(res.code == 0){
								// {code:0,msg:""}
								_vueThis.cancelForm.email=res.data;
							}else{
								parent.layer.msg(res.msg);								
							}
						}else{
							parent.layer.msg(response.statusText+response.data.msg);
						}
					})
					.catch(function (error) {
						console.log(error);
						// parent.layer.msg(error);
					});
					
				},
				cancel:function(){
					//发送请求
					var _vueThis = this;
					gAxios.post('api/personalInfo/cancel.php', _vueThis.cancelForm)
					.then(function (response) {
						if(response.status==200){
							res=response.data;
							//解析结果
							if(res.code == 0){
								// {code:0,msg:""}
								parent.layer.msg(res.msg);
								//强制刷新页面
								window.location.reload();
							}
						}else{
							parent.layer.msg(response.statusText+response.data.msg);
						}
					})
					.catch(function (error) {
						console.log(error);
						// parent.layer.msg(error);
					});
					
				},
				getCheckCodeEmail:function(){
					var _vueThis = this;
					gAxios.post('api/personalInfo/emailCodeSend.php', _vueThis.cancelForm)
					.then(function (response) {
						if(response.status==200){
							res=response.data;
							//解析结果
							parent.layer.msg(res.msg);
						}else{
							parent.layer.msg(response.statusText+res.msg);
						}
					})
					.catch(function (error) {
						console.log(error);
						// parent.layer.msg(error);
					});

				}
			}
		})
	</script>
	
</html>
