<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>BoyG-活动详情</title>
		<!-- // jquery -->
		<script src="../../res/js/jquery-3.3.1.min.js" type="text/javascript"></script>
		<!-- // axios 请求接口 -->
		<script src="../../res/axios-0.19.0/axios.min.js"  type="text/javascript"></script>
		<!-- // vue库 -->
		<script src="../../res/vue-2.6.7/vue.min.js" type="text/javascript"></script>
		<!-- // layer 弹出层 -->
		<!-- // http://layer.layui.com/ -->
		<script src="../../res/layer-v3.1.1/layer.js"></script>
		<link href="../../res/layer-v3.1.1/theme/default/layer.css" rel="stylesheet">
		<!-- bootstrap -->
		<link rel="stylesheet" href="../../res/bootstrap-4.0.0/css/bootstrap.min.css">
		<script src="../../res/bootstrap-4.0.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../common/background-1.css">
		<script src="../common/globalVar.js"></script>
		
		<!-- 自有资源 -->
		<link rel="stylesheet" type="text/css" href="./css/main.css">

		<!-- awesome图标 -->
		<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">

	</head>
	<body>
		
		<div class="container ">
		    <div class="wrapper">
					<div  class="placeholder-20"></div>
		
					<div class="card" id="app">
						<div class="card-body">
							<h2 v-text="res.title">
								<!-- {{res.title}} -->
							</h2>
							<div class="card__span">
								<span class="card__span_left">
									<span class="btn btn-outline-success" id="" v-text="res.placeLife"><!-- {{res.placeLife}} --></span>
									<span class="btn bg-success text-white " v-if="res.activity_stats">进行中</span>
									<span class="btn bg-secondary text-white " v-else>结束</span>
								</span>'
								<span class="btn card__span_right"  data-aid="'+data['uid']+'">
									<span class="btn btn-outline-success" v-on:click="sendReqInfo()" v-if="res.login_stats">请求信息</span>
									<span class="btn btn-outline-success"  v-else="">请登陆后联系作者</span>
									<span  v-if="res.login_stats"><a class="btn btn-outline-success" :href="'../PersonalInfo/view.html?fid='+res.uid" target="_blank">作者</a></span>
									<span class="fa fa-eye " v-text="res.eye"></span>

								</span>
							</div>
						</div>
						<div class="card-header" style="">
							简单介绍
						</div>
						<div class="card-body ">
							<div class="row">
								<div class="col-md-2">
									<img :src="res.actFirstPic" alt="..." class="rounded ">
								</div>
								<div class="col-md-10">
									<div><strong>开始时间</strong>：<span v-text="res.startTime"></span></div>
									<div><strong>结束时间</strong>：<span v-text="res.endTime"></span></div>
									<div><strong>花费说明</strong>：</div>
									<blockquote class="blockquote">
										<p>每人平均花费(<span v-text="res.avgSpending"></span>)￥,一次参加(<span v-text="res.number"></span>)人。具体安排听组织者的，可通同时有好多人进行。注意出行安全和现场信息核对。</p>
									</blockquote>
									<div><strong>简单介绍</strong>：</div>
									<blockquote v-text="res.actBrief">
										
									</blockquote>
									
									<div>
										<strong>关注情况</strong>:<span v-text="attentionPeopleCount"></span>人
									</div>
									<blockquote class="">
										<div>当前关注：<span v-text="curAttentionPeople.length"></span>人</div>
										<ul class="list-inline" >
											<li class="list-inline-item" v-for="item in curAttentionPeople">
												<a :href="'../PersonalInfo/view.html?fid='+item.uid" target="_blank" v-text="item.name"></a>
											</li>
										</ul>
										<div>之前关注：<span v-text="befAttentionPeople.length"></span>人</div>
										<ul class="list-inline">
											<li class="list-inline-item" v-for="item in befAttentionPeople">
												<a :href="'../PersonalInfo/view.html?fid='+item.uid" target="_blank" v-text="item.name"></a>
											</li>
										</ul>
									</blockquote>
								</div>
							</div>								
						</div>

						<div class="card-header" style="">
							详细情况
						</div>
						<div class="card-body " v-html="res.actDetails">
							
						</div>	
						
					</div>
	
					
					<div  class="placeholder-20"></div>
			</div>
		</div>
		
	</body>
	
	<script>
		var localToken = getLocalToken();
		const viewAction = new Vue({
			el: "#app",
			data:{
				res:{
					aid:"",
					uid:"",
					title:"",
					placeLife:"当地",
					activity_stats:true,
					eye:"",
					up:'',
					login_stats:false,
					actFirstPic:"",
					startTime:"",
					endTime:"",
					number:2,
					avgSpending:30,
					actBrief:"",

					actDetails:"",
				},
				
				curAttentionPeople:[
					// {uid:"",name:""}
				],
				befAttentionPeople:[
					
				],
				attentionPeopleCount:0
			},
			created:function(){
				this.getActionInfo();
				this.getAttentionInfo();
			},
			methods:{
				setAttention(item, index){
					if(item.cur_attend_status){
						this.curAttentionPeople.push(item);
					}else{
						this.befAttentionPeople.push(item);
					}
				},
				getAttentionInfo(){
					var _this = this;
					// post 本地json会失败
					// axios.get('testjson/lunBoTuTest.json', {
					gAxios.post('api/activities/getAttentionInfo.php', {
						token: localToken,
						aid:getQueryString('id')
					})
					.then(function (response) {
						if(response.status==200){
							_this.attentionPeopleCount = response.data.data.length;
							response.data.data.forEach(_this.setAttention);
							
						}else{
							layerMsg(response.statusText);
						}
					})
					.catch(function (error) {
						console.log(error);
					});
					
				},
				getActionInfo(){
					var _this = this;
					// post 本地json会失败
					// axios.get('testjson/lunBoTuTest.json', {
					gAxios.post('api/activities/getActionInfo.php', {
						token: localToken,
						aid:getQueryString('id')
					})
					.then(function (response) {
						if(response.status==200){
							_this.res=response.data.data;
						}else{
							layerMsg(response.statusText);
						}
					})
					.catch(function (error) {
						console.log(error);
					});
					
				},
				sendReqInfo(){
					var _this = this;
					// post 本地json会失败
					// axios.get('testjson/lunBoTuTest.json', {
					gAxios.post('api/activities/sendReqInfo.php', {
						token: localToken,
						aid:_this.res.aid,
						auth_id:_this.res.uid,
						type:'act'
					})
					.then(function (response) {
						if(response.status==200){
							let res = response.data;
							layerMsg(res.msg, res.code);
						}else{
							layerMsg(response.statusText);
						}
					})
					.catch(function (error) {
						console.log(error);
					});

				}
				
			}
		})
	

		
	</script>
	
</html>
