:root{
  --main-bg-color: #ff7675;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
html{
  font-size: .625em;
  font-size: calc(1em * .625);
  background: #f4f4f4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	margin: 0;
  padding: 0;
	/* 没有滚动条 */
	/* overflow:hidden; */
	height:100%;
	overflow-x:hidden;
	background: #494A5F;	
}

img{
  max-width: 100%;
}



::selection{
  background: var(--main-bg-color);
  color: #fff;
}
::-moz-selection{
  background: var(--main-bg-color);
  color: #fff;
}

.container{
  width: 100%;
	height: auto;  /*自适应*/
  /* max-width: 1290px; */
	/* min-height: 700px; */
  margin: 0 auto;
  padding: 0 10px;
}
//顶部距离
.wrapper{
  padding: 10px 0;
	height: auto;  /*自适应*/
	/* min-height: 700px; */
}

.placeholder-20{
	height: 20px;
}
.placeholder-10{
	height: 10px;
}


/* // 底部内容隐藏*/
.footer {
	display: block;
}
@media screen and (max-width: 400px) {
	.footer {
		display: none;
	}
}