<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
	<!-- //允许网页宽度自动调整 -->
	<!-- //https://www.cnblogs.com/MissZhao/p/5773091.html -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>男生女生-首页</title>
	
	<!-- // jquery -->
	<script src="../res/js/jquery-3.3.1.min.js" type="text/javascript"></script>
	<!-- // axios 请求接口 -->
	<script src="../res/axios-0.19.0/axios.min.js"  type="text/javascript"></script>
	<!-- // vue库 -->
	<script src="../res/vue-2.6.7/vue.min.js" type="text/javascript"></script>
	<!-- // layer 弹出层 -->
	<!-- // http://layer.layui.com/ -->
	<script src="../res/layer-v3.1.1/layer.js"></script>
	<link href="../res/layer-v3.1.1/theme/default/layer.css" rel="stylesheet">
	<!-- bootstrap -->
	<link rel="stylesheet" href="../res/bootstrap-4.0.0/css/bootstrap.min.css">
	<script src="../res/bootstrap-4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="common/background-1.css">

	<script src="common/globalVar.js"></script>
	
</head>
<body >
	
	<!-- .navbar-expand{-sm|-md|-lg|-xl}用于响应式折叠,小于参数时折叠 -->
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark navbar-fixed-top" id="navMenu">
		<!-- .navbar-brand 适用于您的公司，产品或项目名称。 -->
		<a class="navbar-brand" href="#">
			<!-- 显示图标 -->
			<!-- <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="男生女生"> -->
			男生女生
		</a>
		<!-- 显示菜单按钮 -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<!-- 左侧菜单 -->
		<!-- .collapse .navbar-collapse 用于通过父断点对导航栏内容进行分组和隐藏 -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto" id="navMenuLeft">
				<li class="nav-item " v-for="item,index in nvaListLeft" 
				v-bind:class='{active: item.isActive}'
				v-on:click="modActionStatus(index)">
					<a class="nav-link " :href="item.url"  v-text="item.name">
					</a>
				</li>
				<!-- 一级菜单 -->
				<!-- <li class="nav-item ">
					<!-- aria-expanded:表示展开状态 -->
					<!-- aria-haspopup :true表示点击的时候会出现菜单或是浮动元素 -->
					<!-- <a class="nav-link " href="#" id="navbarMyDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
					<!-- 我的 -->
					<!-- </a> -->
					<!-- 二级菜单 -->
<!-- 					<div class="dropdown-menu" aria-labelledby="navbarMyDropdownMenuLink">
						<a class="dropdown-item" href="#">个人信息</a>
						<a class="dropdown-item" href="#">活动管理</a>
						<a class="dropdown-item" href="#">动态管理</a>
						<a class="dropdown-item" href="#">黑名单</a>
						<a class="dropdown-item" href="#">通知</a>
					</div> -->
				<!-- </li> -->
			</ul>
			
			 <!-- 右侧菜单 -->
			 <!-- mr-auto 距离自动 -->
			<ul class="navbar-nav  justify-content-end" id="navMenuRight" >
				<div v-show="!landing">
					<li class="nav-item justify-content-end" >
						<a class="nav-link " href="#" data-toggle="modal" data-target="#loginModal">
							登陆/注册
						</a>
					</li>
				</div>
				<div v-show="landing">
					<li class="nav-item justify-content-end" >
						<a class="nav-link " href="#" v-on:click="logout">
							退出
						</a>
					</li>
				</div>
			</ul>
			
		</div>
	</nav>
	
	<div class="body-content">
		<div class="wrapper">
			<div id="subPage">
<!-- 			<iframe id="subPageIframe" src="Ffriends/index.html" 
			frameborder="0" scrolling="no"  width="100%"  style=" "
			></iframe> -->
			</div>
		</div>
	</div>

	<!-- 登陆注册modal -->
	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
<!-- 					<div class="modal-header">
					<h5 class="modal-title" id="loginModalLabel">New message</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div> -->
				<div class="modal-body">
					<!-- 登陆模态框 -->
					<div id="accordion">
						<div id="collapseOne" class="collapse show" data-parent="#accordion">
							<h2 class="text-center">登陆</h2>

							<form>
								<div class="form-group row">
									<!-- <label for="手机号" class="col-sm-2 col-form-label">手机号</label> -->
									<div class="col-sm-12">
									<input type="number" class="form-control" placeholder="手机号" v-model="loginForm.phone" maxlength="11" >
									</div>
								</div>
								<div class="form-group row">
									<!-- <label for="inputPassword" class="col-sm-2 col-form-label">密码</label> -->
									<div class="col-sm-12">
									<input type="password" class="form-control" placeholder="密码" v-model="loginForm.pw" maxlength="16">
									</div>
								</div>
								<button type="button" class="btn btn-primary btn-lg btn-block" v-on:click="login()">发送</button>
							</form>	
							<div style="text-align: right;">
								<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo">注册</button>
								<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseThree">忘记密码</button>
							</div>
						</div>
						<div id="collapseTwo" class="collapse" data-parent="#accordion">
							<h2 class="text-center">注册</h2>
							<form>
								<div class="form-group row">
									<!-- <label for="手机号" class="col-sm-2 col-form-label">手机号</label> -->
									<div class="col-sm-12">
									<input type="number" class="form-control"  placeholder="手机号" v-model="registForm.phone" maxlength="11" >
									</div>
								</div>
								<div class="form-group row">
									<!-- <label for="inputPassword" class="col-sm-2 col-form-label">密码</label> -->
									<div class="col-sm-12">
									<input type="password" class="form-control"  placeholder="密码" v-model="registForm.pw" maxlength="16">
									</div>
								</div>
								<div class="form-group row">
									<!-- <label for="checkCode" class="col-sm-2 col-2 col-form-label">验证码</label> -->
									<div class="col-sm-8 col-8">
									<input type="text" class="form-control"  placeholder="验证码" v-model="registForm.checkCode" maxlength="16">
									</div>
									<button type="button" class="btn btn-link col-sm-4 col-4" >获取验证码</button>
								</div>
								<button type="button" class="btn btn-primary btn-lg btn-block" v-on:click="regist()">发送</button>
							</form>	
							<div style="text-align: right;">
								<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">登陆</button>
								<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseThree">忘记密码</button>
							</div>

						</div>
						<div id="collapseThree" class="collapse" data-parent="#accordion">
							<h2 class="text-center">忘记密码</h2>
							<form>
								<div class="form-group row">
									<!-- <label for="手机号" class="col-sm-2 col-form-label">手机号</label> -->
									<div class="col-sm-12">
									<input type="number" class="form-control" placeholder="手机号" v-model="forgetForm.phone" maxlength="11" >
									</div>
								</div>
								<div class="form-group row">
									<!-- <label for="手机号" class="col-sm-2 col-form-label">手机号</label> -->
									<div class="col-sm-12">
									<input type="email" class="form-control"  placeholder="邮箱" v-model="forgetForm.email"  >
									</div>
								</div>

								<button type="button" class="btn btn-primary btn-lg btn-block" v-on:click="forget()">发送</button>
							</form>
							<div style="text-align: right;">
								<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">登陆</button>
								<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo">注册</button>
							</div>
						</div>
					</div>

				</div>
<!-- 					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Send message</button>
				</div> -->
			</div>
		</div>
	</div>
</body>
<!-- 动态加载数据 -->
<script type="text/javascript" src="app.js"></script>

<script type="text/javascript" language="javascript">




</script>

</html>