<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- //允许网页宽度自动调整 -->
		<!-- //https://www.cnblogs.com/MissZhao/p/5773091.html -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>BogG-个人信息设置</title>
		
		<!-- // jquery -->
		<script src="../../res/js/jquery-3.3.1.min.js" type="text/javascript"></script>
		<!-- // axios 请求接口 -->
		<script src="../../res/axios-0.19.0/axios.min.js"  type="text/javascript"></script>
		<!-- // vue库 -->
		<script src="../../res/vue-2.6.7/vue.min.js" type="text/javascript"></script>
		<!-- // layer 弹出层 -->
		<!-- // http://layer.layui.com/ -->
		<script src="../../res/layer-v3.1.1/layer.js"></script>
		<link href="../../res/layer-v3.1.1/theme/default/layer.css" rel="stylesheet">
		<!-- bootstrap -->
		<link rel="stylesheet" href="../../res/bootstrap-4.0.0/css/bootstrap.min.css">
		<script src="../../res/bootstrap-4.0.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../common/background-1.css">
		<script src="../common/globalVar.js"></script>
		<script src="../common/globalWangEditor.js"></script>
		
		<!-- 自有资源 -->
		<link rel="stylesheet" type="text/css" href="./css/set.css">
		<!-- 编辑 -->
		<script type="text/javascript" src="../../res/wangEditor-3.1.1/wangEditor.min.js"></script>
		<link rel="stylesheet" href="../../res/wangEditor-3.1.1/wangEditor.min.css" type="text/css" />
		<!-- awesome图标 -->
		<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">

	</head>
	<body>
		<div class="container ">
		    <div class="wrapper">
				<!-- <div class="placeholder-10"></div> -->
				<!-- //个人信息展示组 -->
				<div class="group" id="">
					<div id="setPersonalInfo">
						<div class="group-item">
							<div class="card" style="">
								<div>
									<button type="button" class="btn btn-success" v-show="res.find_switch" v-on:click="up_find_switch()"
									title="只是不被显示在找朋友页面,其他方式还是可能看到用户信息的,因为活动或是其他地方需要被看到"
									>个人信息可被查找</button>
									<button type="button" class="btn btn-outline-success" v-show="!res.find_switch" v-on:click="up_find_switch()"
									title="只是不被显示在找朋友页面,其他方式还是可能看到用户信息的,因为活动或是其他地方需要被看到"
									>个人信息不可被查找</button>
								</div>
							</div>
						</div>
						
						<div class="group-item">
							<div class="card" style="">
								<div class="card-header">
									<div>
										<span class="align-middle">联系方式</span>
										<button type="button" class="btn btn-success card__span_right" v-on:click="userContactSet()">保存</button>
									</div>
								</div>
								<!-- <div class="card-body"></div> -->
								<ul class="list-group list-group-flush">
									<!-- <li class="list-group-item">站内</li> -->
									<li class="list-group-item ">

										
										<div class="row">
											<div class="input-group col-sm">
												<div class="input-group-prepend">
													<span class="input-group-text" id="inputGroup-sizing-sm">预留</span>
												</div>
												<input type="text" class="form-control" aria-label="预留" aria-describedby="inputGroup-sizing-sm" 
												placeholder="这个联系方式可选项,可以使用站内" v-model="res.contact">
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>


						<div class="group-item">
							<div class="card" style="">
								<div class="card-header">
									<div>
										<span class="align-middle">基本信息</span>
										<button type="button" class="btn btn-success card__span_right"  v-on:click="userBaseSet()">保存</button>
									</div>
								</div>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<div class="row">
											<div class="input-group col-sm">
												<div class="input-group-prepend">
													<span class="input-group-text" id="inputGroup-sizing-sm">昵称</span>
												</div>
												<input type="text" class="form-control" aria-label="昵称" aria-describedby="inputGroup-sizing-sm" 
												placeholder="必填项,最长32字符" required="required" maxlength="32" v-model="res.nick_name">
											</div>
											<div class="input-group col-sm">
												<div class="input-group-prepend">
													<span class="input-group-text" id="inputGroup-sizing-sm">身高</span>
												</div>
												<input type="number" class="form-control" aria-label="身高" aria-describedby="inputGroup-sizing-sm" 
												placeholder="必填项" required="required" maxlength="3" v-model="res.height">
												<div class="input-group-append">
													<span class="input-group-text">cm</span>
												</div>
											</div>
											<div class="input-group col-sm">
												<div class="input-group-prepend">
													<span class="input-group-text" id="inputGroup-sizing-sm">体重</span>
												</div>
												<input type="number" class="form-control" aria-label="体重" aria-describedby="inputGroup-sizing-sm" 
												placeholder="必填项" required="required" maxlength="3" v-model="res.weight">
												<div class="input-group-append">
													<span class="input-group-text">kg</span>
												</div>
											</div>
										</div>


									</li>
									<li class="list-group-item">
									
										<div class="row">
											<div class="input-group col-sm">
												<div class="input-group-prepend">
													<span class="input-group-text" id="inputGroup-living-sm">生活地</span>
												</div>
												<select class="form-control custom-select" id="生活地" aria-label="生活地" v-model="res.user_living_place_id">
													<optgroup :label="item.text" v-for="item in livingPlaceList">
														<option :value="city.value" v-for="city in item.data" v-text="city.text"></option>
													</optgroup>
												</select>
											</div>
											<div class="input-group col-sm">
												<div class="input-group-prepend">
													<span class="input-group-text" id="inputGroup-perfession-sm">职业</span>
												</div>
												<input type="text" class="form-control" aria-label="职业" aria-describedby="inputGroup-perfession-sm" 
												placeholder="必填项,最长45字符" required="required" maxlength="45" v-model="res.profession">
											</div>

											<div class="input-group col-sm">
												<div class="input-group-prepend">
													<span class="input-group-text" id="inputGroup-income-sm">收入</span>
												</div>
												<input type="number" class="form-control" aria-label="收入" aria-describedby="inputGroup-income-sm" 
												placeholder="必填项" required="required" v-model="res.income">
												<div class="input-group-append">
													<span class="input-group-text">RMB</span>
												</div>
											</div>

										</div>
									</li>
									<li class="list-group-item">
										<div class="row">
											<div class="input-group col-sm">
												<div class="input-group-prepend">
													<span class="input-group-text" id="inputGroup-tryst-sm">我最喜欢的活动</span>
												</div>
												<input type="text" class="form-control" aria-label="我最喜欢的活动" aria-describedby="inputGroup-tryst-sm" 
												placeholder="必填项,最长128字符,多项使用逗号分割" required="required" maxlength="128" v-model="res.tryst_expect">
											</div>
											<div class="input-group col-sm">
												<div class="input-group-prepend">
													<span class="input-group-text" id="inputGroup-status-sm">状态</span>
												</div>
												<select class="form-control custom-select" id="状态" v-model="res.user_marital_status_id">
													<option :value="item.value" v-for="item in maritalStatusList" v-text="item.text"></option>
												</select>

											</div>

										</div>
									</li>
									
									
									<li class="list-group-item">
										<table class="table table-striped">
										  <thead>
											<tr>
											  <th scope="col">#</th>
											  <th scope="col">学校</th>
											  <th scope="col">专业</th>
											  <th scope="col">层次</th>
											  <th scope="col">入学</th>
											  <th scope="col">毕业</th>
											</tr>
										  </thead>
										  <tbody>
											<tr v-for="item, index in eduList">
											<th scope="row" v-text="index"></th>
											<td v-text="item.university"></td><td v-text="item.profession"></td>
											<td v-text="item.level"></td><td v-text="item.s_time"></td>
											<td v-text="item.e_time"></td>
											</tr>
										  </tbody>
										</table>
										<div class="row">
											<div class="input-group col-sm">
												<div class="input-group-prepend">
													<span class="input-group-text" id="inputGroup-edu-sm">添加在线学籍认证</span>
												</div>
												<input type="text" class="form-control" aria-label="添加在线学籍认证" aria-describedby="inputGroup-edu-sm" 
												placeholder="在线验证码" v-model="verify_code">
												<div class="input-group-append">
													<button class="btn btn-outline-secondary text-primary" type="button" v-on:click="userEduSet()">添加</button>
												</div>
											</div>

										</div>
									</li>
								</ul>
							</div>				
						</div>
					</div>
					<div class="group-item">
						<div class="card" style="">
							<div class="card-header">
								<div>
									<span class="align-middle">个人介绍</span>
									<button type="button" class="btn btn-success card__span_right"  onclick="userInfo.userSelfIntrSet()">保存</button>
								</div>
							</div>
							<div  class="card-header" id="personalMenu"></div>
							<div class="card-body" id="personalIntroduction">
								<!-- 个人介绍 -->
							</div>

						</div>				
					</div>
					<div class="group-item">
						<div class="card" style="">
							<div class="card-header">
								<div>
									<span class="align-middle">对方要求</span>
									<button type="button" class="btn btn-success card__span_right" onclick="userInfo.userOtherIntrSet()">保存</button>
								</div>
							</div>
							<div  class="card-header" id="duifangMenu"></div>
							<div class="card-body" id="duifangIntroduction">
								<!-- 对方要求 -->
							</div>
						</div>			
					</div>

					<div  class="placeholder-10"></div>
				
				</div>
			</div> <!-- wrapper -->
		</div>
	</body>
	<!-- 动态加载数据 -->
	<script type="text/javascript" src="./set.js"></script>
	
</html>